# Visual Studio / ReSharper
.vs/
*.suo
*.user
.idea/

# Binarios y archivos de compilación
bin/
obj/
*.pdb
*.dll

# Archivos de configuración y cache
App.config
*.cache
*.log
*.bak

# Dependencias de NuGet
packages/

# Ignorar la carpeta .vs completa
TpIntegrador_Programacion/.vs/

# Ignorar los archivos binarios y de depuración en la carpeta bin y obj
TpIntegrador_Programacion/ServiciosVet/obj/
TpIntegrador_Programacion/TpIntegrador_Programacion/bin/
TpIntegrador_Programacion/TpIntegrador_Programacion/obj/

# Opcionalmente, también puedes ignorar todos los archivos .exe y .pdb si no quieres rastrear ninguno de estos archivos
*.exe
*.pdb

